<table class="cart_table">
    <thead>
    <tr>
        <th>Product</th>
        <th>Quanitity</th>
        <th>Edit Quantity</th>
        <th>Delete</th>
        <th>Upvote</th>
    </tr>
    </thead>
  
  <tbody>
  <% session[:cart].each do |product, quanitity|%>
    <tr>
        <td><%= product %></td>
        <td><%= quantity%></td>
        <td><%= a.creator %></td>
        <td><%= a.publication_year%> </td>
        <td><%= link_to 'Upvote', upvote_work_path(a), method: :post, class:"btn btn-primary"%></td>
    </tr>
  </tbody>
  <% end %>
</table>