
    <table class="table table-borderless table-hover">
        <thead>
        <tr>
            <th>Order Item ID</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Line-Item Subtotal</th>
            <th>Date the Order was Placed</th>
            <th>Current Status of Order</th>
        </tr>
        </thead>
    
    <tbody>
        <% order_total = 0%>
        <% order_items = OrderItem.where(order_id: @order.id)%>
        <% order_items.each do |item|%>
        <tr>
            <td><%= item.id %></td>
            <td><%= link_to Product.find(item.product_id).name, product_path(item.product_id), method: :get %></td>
            <td><%= item.quantity%></td>
            <td>$<%= subtotal = Product.find(item.product_id).price * item.quantity %></td>
            <td><%= item.created_at.strftime("%m/%d/%Y") %></td>
            <td><%= Order.find(item.order_id).status %></td>
            <% order_total += subtotal %>
        </tr>
    </tbody>
    <% end %>
    </table>

    <h3> Order Total: $<%= order_total %> </h3>