<%# Intent for this page:
May rename

This page is meant to shows the merchant's products.
Nav bar options for "Add Product" and "Order Fulfillment" becomes accessible once logged in %>

<main>
  <h3 class="title">Merchant Account Page</h3>

  <section class="merchant-info">
    <%# <% if @merchant.image %>
    <%# <%= image_tag @merchant.image %> 
    <%# <% end %> 
    <%# <% if @merchant.username %>
      <h4>Merchant Username: <%= @merchant.username %></h4>
    <%# <% end %> 
  </section>

  <div class="add-buttons">
    <%= link_to "Add Categories", new_category_path, class: "button" %>
    <%= link_to "Add Products", new_product_path(@merchant.id), class: "button" %>
  </div>

  <h4>List of Products</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th class="hidden">Stock</th>
        <th>Update</th>
        <th>Retire</th>
      </tr>
    </thead>
    <tbody>
      <% @merchant.products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product_path(product) %></td>
        <td>$<%=(product.price) %></td>
        <td class="hidden"><%= product.quantity%></td>
        <td>
          <% if product %>
            <%= link_to "Update", edit_product_path(product.id), class: "button" %>
          <% else %>
            <span class="button disabled">Update</span>
          <% end %>
        </td>
        <%# <td> %>
          <%# <% if product.is_active %> 
            <%# <%= link_to "Retire", product_set_status_path(product.id), method: :put, class: "button" %> 
          <%# <% else %>
            <%# <%= link_to "Reactivate", product_set_status_path(product.id), method: :put, class: "button" %>
          <%# <% end %> 
        <%# </td> %>

      </tr>
      <% end %>
    </tbody>
  </table>

  <h4>List of Orders</h4>
  <table>
    <thead>
      <tr>
        <th>Order #</th>
        <th>
          <section class="status-container">
            <%= form_tag(merchant_path(@merchant), method: :get) do %>
            <div class="status-box">
              <%= select_tag :term, "<option>pending</option><option>paid</option><option>complete</option><option>cancelled</option>".html_safe, :prompt => 'Select a status' %>
            </div>
            <div class="status-button">
              <%= submit_tag "Submit", class: "button" %>
            </div>
            <% end %>
          </section>
        </th>
        <th>Order Items</th>
        <th class="hidden">Quantity</th>
        <th class="hidden">Subtotal</th>
        <th class="hidden">Date Placed</th>
        <th>Shipping Status</th>
      </tr>
    </thead>
    
  </table>

  <h4>Order Statistics</h4>

  <table>
    <thead>
      <tr>
        <th>Number of Orders</th>
        <th>Total Revenue</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @num_orders %></td>
        <td>$<%= @revenue %></td>
      </tr>
    </tbody>
  </table>
</main>
