<%# Intent for this page:
May rename

This page is meant to shows the merchant's products.
Nav bar options for "Add Product" and "Order Fulfillment" becomes accessible once logged in %>

<main>
  
  <h1 class="page-title">Merchant Dashboard</h1>
  
  <section class="merchant-info">
    <h2 class ="name">Username : <%= @merchant.username %><h2>
    <%# <% if @merchant.image %>
    <%# <%= image_tag @merchant.image %> 
    <%# <% end %> 
    <%# <% if @merchant.username %>
    <h2 class="sub">Merchant Actions</h2>
     
    <%# <% end %> 
  </section>

  <section>
    <button type="button"><%= link_to "Add Categories", new_category_path %></button>
    <button type="button"><%= link_to "Add Products", new_product_path(@merchant.id) %></button>
  </section>

  <section>
    <h2 class="sub">List of Products</h2>
    <table>

      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th class="hidden">Stock</th>
          <th>Update</th>
          <th>Retire</th>
        </tr>
      </thead>
      <tbody>
        <% @merchant.products.each do |product| %>
        <tr>
          <td><%= link_to product.name, product_path(product) %></td>
          <td>$<%=(product.price) %></td>
          <td class="hidden"><%= product.quantity%></td>
          <td>
            <% if product %>
              <button type="button"><%= link_to "Update", edit_product_path(product.id) %></button>
            <% else %>
              <span class="button disabled">Update</span>
            <% end %>
          </td>
          <td> 
            <%# if product.is_active %> 
              <%#= link_to "Retire", product_set_status_path(product.id), method: :put %>
             <%#= else %>
              <%#= link_to "Reactivate", product_set_status_path(product.id), method: :put %>
            <%# end %>
          </td>

        </tr>
        <% end %>
      </tbody>
    </table>
  </section>

  <section>
    <h2 class="sub">List of Orders</h2>
    <table>
      <thead>
        <tr>
          <th>Order #</th>
          <th>
            <section class="status-container">
              <%= form_tag(merchant_path(@merchant), method: :get) do %>
              <div class="status-box">
              <%= select_tag :term, "<option>pending</option><option>paid</option><option>complete</option><option>cancelled</option>".html_safe, :prompt => 'Select a status' %>
              </div>
              <div class="status-button">
              <%= submit_tag "Submit" %>
              </div>
              <% end %>
            </section>
          </th>
          <th>Order Items</th>
          <th class="hidden">Quantity</th>
          <th class="hidden">Subtotal</th>
          <th class="hidden">Date Placed</th>
          <th>Shipping Status</th>
        </tr>
      </thead>
    </table>
  </section>
<section>
<h2 class="sub">List of Orders</h2>
  <table class="table table-borderless table-hover">
    <thead>
    <tr>
        <th>Order ID</th>
        <th>Status</th>
        <th>Order Items</th>
    </tr>
    </thead>
  
  <tbody>
    <%# all_order_items_for_merchant = OrderItem.where(product_id: product_id.where(merchant_id: session[:merchant_id])) %>
    <%array_of_arrays_oi = []%>
    <%merchant = Merchant.find(1)%>
    <%all_merchant_products = merchant.products%>
    <%all_merchant_products.each do |product|%>
      <%array_of_arrays_oi << OrderItem.where(product_id: product.id)%>
    <%end%>
    <%all_merchants_order_items = array_of_arrays_oi.flatten%>
    <% all_unique_orders = [] %>
    <% all_merchants_order_items.each do |order_item| %>
     <% if all_unique_orders.exclude?(order_item.order_id) %>
        <% all_unique_orders << order_item.order_id %>
      <% end %>
    <% end %>
    <% all_unique_orders.each do |order|%>
    <tr>
        <td><%= link_to order, order_path(order), method: :get%></td>
        <td><%= Order.find(order).status%></td>
        <td><%= link_to "view", order_items_order_path(order)%></td>
        <%#= class="btn btn-primary" href="order_items_order_path" role="button">View%>
    </tr>
  </tbody>
  <% end %>
</table>
</section>
  <section>
    <h2 class="sub">Order Statistics</h2>

    <table>
      <thead>
        <tr>
          <th>Total Number of Orders</th>
          <th>Total Revenue</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= Order.total_number_of_orders %></td>
          <td>$<%= Order.total_revenue %></td>
        </tr>
      </tbody>
    </table>
  </section>

   <section>
    <h2 class="sub">Order Statistics by Status</h2>
      <section class="status-container">
        <%= form_tag(product_set_status_path, method: :get) do %>
        <div class="status-box">
        <%= select_tag(:status, "<option>pending</option><option>paid</option><option>completed</option><option>cancelled</option>".html_safe, :prompt => 'Select a status') %>
        </div>
        <div class="status-button">
        <%= submit_tag "Submit" %>
        </div>
        <% end %>
      </section>
    <table>
      <thead>
        <tr>
          <th>Total Number of <%session[:status].capitalize%> Orders</th>
          <th>Total Revenue of <%session[:status].capitalize%> Orders</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%#= Order.total_number_of_orders_by_status(status) %></td>
          <td>$<%#= Order.total_revenue_by_status(status) %></td>
        </tr>
      </tbody>
    </table>
  </section>

  </section>    
</main>
