<main>
  <%# Intent for this page:
form for payment and shipping info %>
<div class="row">
<div class="col-25">
    <div class="container">
      <h4><b>Cart</b> 
        <span class="price" style="color:black">
          <i class="fa fa-shopping-cart"></i> 
          <b># of Items in Cart: <%= @current_order.order_items.length %></b>
        </span>
      </h4>
      <% @current_order.order_items.each do |order_item| %>
      <p><span class="link-order-item"><%= link_to order_item.product.name , product_path(order_item.product_id) %></span> <span class="price">$<%= (order_item.quantity * order_item.product.price) %></span></p>
      <% end %>
      <% if @current_order.order_items.length != 0 %>
      <p>Total: $<%=OrderItem.cart_total(@current_order.order_items)%>
      <% end %>
      <hr>
   
    </div>
  </div>
  <div class="col-75">
    <div class="container">
      <%= form_with model: @order, url: "/checkout" do |f|%>

         <div class="row">
          <div class="col-50">
            <h3 class= "column-titles">Billing Address</h3>
            <label><i class="fa fa-user"> <%= f.label :name %> </i></label>
            <%= f.text_field :name, :required => true %>
            <label><i class="fa fa-envelope"> <%= f.label :email %> </i></label>
            <%= f.text_field :email, :required => true %>
            <label><i class="fa fa-address-card-o"> <%= f.label :address %> </i></label>
            <%= f.text_field :address, :required => true %>
             <div class="row">
              <div class="col-50">
                <label><%= f.label :zipcode %></label>
                <%= f.text_field :zipcode, :required => true %>
              </div>
            </div>
          </div>

           <div class="col-50">
            <h3 class= "column-titles">Payment</h3>
            <label for="fname">Accepted Cards</label>
            <div class="icon-container">
              <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
            </div>
            <label><%= f.label :cc_num, "Credit Card Number" %></label>
            <%= f.text_field :cc_num, :required => true %>
            <label><%= f.label :cc_expiration, "Card Expiration" %></label>
            <%= f.text_field :cc_expiration, :required => true %>
             <div class="row">
              <div class="col-50">
                <label><%= f.label :cc_cvv, "Card CVV" %></label>
                <%= f.text_field :cc_cvv, :required => true %>
              </div>
            </div>
          </div>

         </div>
         <%= f.submit "Confirm Order", class: "btn" %>
      <% end %>
    </div>
  </div>
</div>

</main>