<% if @product.errors.messages.any? %>
  <section class="alert alert-danger">
    There were some issues with your submission
    <ul>
      <% @product.errors.messages.each do |column, problem_list| %>
        <% problem_list.each do |problem| %>
          <li>
            <%= column %>: <%= problem %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </section>
<% end %>

<%= form_with model: @product, class: 'product-form' do |f| %>
<form>
<div class="form-group">
     <label for= "Select Categories">Select Categories</label>
    <%if Category.all == []%>
      <p>No categories to display at the time. Add one!</p>
    <%else%>
    <%# <div class="col-md-4 checkbox-list"> %>
      <ul class="horizontal-group">
      <%= collection_check_boxes(:product, :category_ids, Category.all, :id, :name) do |c| %>
      <li> <%=  c.check_box  %><%= c.label %></li>
      <% end %>
      </ul>
    <% end %>
  </div>

 <div class="form-group">
    <label for="name">Product Name</label>
    <p><%= f.text_field :name, placeholder: "Playdate with baby goats" %></p>
 </div>
  
 <div class="form-group">
    <label for="price">Unit Price </label>
    <p><%= f.text_field :price, placeholder: "$" %></p>
 </div>

 <div class="form-group">
    <label for ="stock">Quantity in stock </label>
    <p><%= f.text_field :stock, placeholder: "30" %></p>
 </div>
 
 <div class="form-group">
    <label for="description">Description</label>
    <p><%= f.text_area :description, placeholder: "Twix just had kids!" %></p>
 </div>

 <div class="form-group">
    <label for ="photo URL">Product photo URL</label>
    <p><%= f.text_field :photo_url, placeholder: "http://image-host.com/yourimage.png" %></p>
 </div>

 <div class="form-group">
  <%= f.submit button_text, class: "btn btn-primary" %>
 </div>
 </form>
  <% end %>

