<%# Intent for this page:

Similar to adding a work on MediaRanker, form %>
<section class="new-product">
<h3 class="title">Edit Product</h3>

    <%= form_with model: @product do |f| %>

    <section class="field">
        <%= f.label :name%>
        <%= f.text_field :name%>
    </section>

    <section class="field">
        <%= f.label :price%>
        <%= f.number_field :price, min: 0, step: 0.5 %>
    </section>

    <section class="field">
        <%= f.label :quantity%>
        <%= f.number_field :quantity, min: 1,  step: 1%>
    </section>

    <section class="field">
        <%= f.label :description%>
        <%= f.text_area :description%>
    </section>

    <section class="field">
        <%= f.label "Link to image", :image_url%>
        <%= f.text_field :image_url%>
    </section>

    <div class = "action">
        <%= f.submit locals[:button_text]%>
    </div>

    <%end%>
</section>