<h2><%= @product.name %></h2>
<div class="card" style="width: 30rem;">
  <%= image_tag "#{@product.photo_url}", alt: "product image", class: "card-img-top" %>
</div>
<ul class="list-group">
  <li class="list-group-item">Price: <%=number_to_currency(@product.price) %></li>
  <li class="list-group-item">Quantity in stock: <%=@product.quantity%></li>
  <li class="list-group-item">Description: <%=@product.description %></li>
  <li class="list-group-item"><%= link_to "Add to cart", cart_path(@product), method: :post, class: "btn btn-primary btn-lg" %></li>
</ul>
<br>
<br>
<div class="comment-wrapper">
  <div id="reviews">
    <%if @product.reviews.count == 1%>
      <h5><strong><%=@product.reviews.count%> customer review</strong></h5>
    <%else%>
      <h5><strong><%=@product.reviews.count%> customer reviews</strong></h5>
    <%end%>
    <%@product.reviews.each do |review|%>
      <ul class="list-group">
        <li class="text-success", class="list-group-item"><strong><%=review.name%></strong></li>
        <span class="text-muted pull-right">
          <small><%=review.created_at.strftime("%B %d, %Y at %I:%M %p")%></small>
        </span>
        <span><% review.rating.to_i.times do  %>
          <i class="fa fa-star", aria-hidden="true"></i>
        <% end %>
        <% (5-review.rating).to_i.times do  %>
          <i class="fa fa-star-o", aria-hidden="true"> </i>
        <% end %></span>
        <li class="list-group-item"><%=review.comment%></li>
      </ul>
    <% end %>
    <%=link_to "Write a customer review", new_product_review_path(@product), class: "btn btn-sm"%>
  </div>
</div>



