<%= form_with model:[@product,@review] do |f| %>

  <section class="field">
    <span>Rating<span>
    <%= f.radio_button(:rating, 1) %>
    <%= f.label(:rating, "1") %>
    <%= f.radio_button(:rating, 2) %>
    <%= f.label(:rating, "2") %>
    <%= f.radio_button(:rating, 3) %>
    <%= f.label(:rating, "3") %>
    <%= f.radio_button(:rating, 4) %>
    <%= f.label(:rating, "4") %>
    <%= f.radio_button(:rating, 5) %>
    <%= f.label(:rating, "5") %>
  </section>

  <section class="field">
    <%= f.label :review%>
    <%= f.text_area :review%>
  </section>

  <section class = "action">
    <%= f.submit "Submit"%>
  </section>

<%end%>