<!DOCTYPE html>
<html>

  <head>
    <title>Expy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <header>
      <div>
        <h1>Expy</h1>
        <div class="flex">
	      <p class="header-sub-title" id="word"></p><p class="header-sub-title blink">|</p>
        </div>
      </div>

        <nav>
        <ul>
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown">Shop by Category</a>
              <div class="dropdown-menu" >
                <% @categories.each do |category| %>
                  <%= link_to "#{category.category}", category_path(category.id), class: "dropdown-item" %>
                <% end %>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown">Shop by Merchant</a>
              <div class="dropdown-menu" >
                <% if @merchants%>
                  <% @merchants.each do |merchant| %>
                    <%= link_to "#{merchant.username}", merchant_path(merchant.id), class: "dropdown-item" %>
                  <%end%>
                <% else %>
                  <p>hiii</p>
                <% end %>
              </div>
          </li>

          <li class="nav-item">
            <%= link_to "Cart", new_order_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Check Order Status", orders_path, class: "nav-link" %>
          </li>
          
          
          <li>
          <% if session[:user_id] %>
            <%= link_to "Log out", logout_path, method: "delete" %>
          <% else %>
            <%= link_to "Login with Github", login_path, class: "nav-link" %>
          <% end %>
          </li>

          <%# TO DO: make sure this link will only appear when logged in %>
          <li>
            <%= link_to "View Dashboard", merchant_path(merchant.id), class: "nav-link" %>
          </li>

        </ul>
      </nav>
    </header>

    <main>
      <% alert_type = flash[:status] == :error ? :danger : flash[:status] %>
      <section class="flash alert alert-<%= alert_type %>">
        <%= flash[:message] %>
      </section>
      <%= yield %>
    </main>

    <footer>
      &copy; Expy 2019
    </footer>
  </body>

</html>
