<!DOCTYPE html>
<html>

  <head>
    <title>Expy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <header>
      <div>
        <h1>Expy</h1>
        <div class="flex">
	      <p class="header-sub-title" id="word"></p><p class="header-sub-title blink">|</p>
        </div>
      </div>

      <nav>
        <ul>
          <li>
            <%= link_to "Home", root_path %>
          </li>
          <li>
            <%= link_to "Shop", products_path %>
          </li>
          <li>
            <%= link_to "Cart", new_order_path %>
          </li>
          <li>
            <%= link_to "Check Order Status", orders_path %>
          </li>
          
          
          <li>
          <% if session[:user_id] %>
            <%= link_to "Log out", logout_path, method: "delete" %>
          <% else %>
            <%= link_to "Login with Github", github_login_path %>
          <% end %>
          </li>

          <%# TO DO: make sure this link will only appear when logged in %>
          <li>
            <%= link_to "View Dashboard", merchant_path %>
          </li>

        </ul>
      </nav>
    </header>

    <main>
      <% alert_type = flash[:status] == :error ? :danger : flash[:status] %>
      <section class="flash alert alert-<%= alert_type %>">
        <%= flash[:message] %>
      </section>
      <%= yield %>
    </main>

    <footer>
      &copy; Expy 2019
    </footer>
  </body>

</html>
