<!DOCTYPE html>
<html>

  <head>
    <title>Expy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

  </head>
  
  <div class="top">
   <header>
  
      <nav class="vertical-menu">

              <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                 <li class="title">
                    <%= link_to "EXPY", root_path, class: "nav-link" %>
                  </li> 
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">Shop by Category</a>
                    <div class="dropdown-menu" >
                      <% @categories.each do |category| %>
                        <%= link_to "#{category.category}", products_category_path(category.id)%>
                      <% end %>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">Shop by Merchant</a>
                    <div class="dropdown-menu" >
                      <% unless @merchants == nil%>
                        <% @merchants.each do |merchant| %>
                          <%= link_to "#{merchant.username}", merchant_path(merchant.id) %>
                        <% end %>
                      <%end%>
                    </div>
                     <li class="nav-item">
                    <%= link_to "Shop All", products_path, class: "nav-link" %>
                  </li>
                  </li>
                  
                </ul>
                <ul class="navbar-nav mr-auto">
                  <% if session[:merchant_id] %>
                  <li class="nav-item">
                      <%= link_to "Dashboard", merchant_path(session[:merchant_id]) %></li>
                       <li class="nav-item">
                    <li class="nav-item">
                      <%= link_to "Log Out", logout_path, method: "delete" %></li>
                  <% else %>
                    <li class="nav-item">
                      <%= link_to "Merchant Login", login_path %></li>
                  <% end %>
                  <li class="nav-item">
                      <%= link_to "Sign Up", new_merchant_path %></li>
                  </ul>

                   
               </div>
  </nav>

  <body>
    
    <%= yield %>
  </body>

</html>
